@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hovedopgave - Datamatiker</h1>
        <h2 class="display-5">Anders Skov Nielsen & Frederik Sthen Hansen</h2>
        <p>Dette er en prototype for et SIKON konferencesystem til Landsforeningen Autisme</p>
        <p><a href="https://www.sikon.dk">Læs mere om SIKON</a>.</p>
    </div>